<div class="product-container">
<div style="flex-grow: 0">
</div>
<div style="flex-grow: 2">
<div class="login_center_pic">
<%=image_tag("welcomesign.gif", height: "150px", width: "300px", :alt=>"User info button")%>


<div class="font form">
        <%= form_with url:"/login" do |f| %> 
            <br>
            <%= f.label "User name"%><br> 
            <%= f.text_field :username , class: "input" %> 
            <br>
            <%= f.label "Password" %><br> 
            <%= f.password_field :password , class: "input"%> 
            <br>
            <br>
            <%= f.submit "Login" , class: "button"%>
        <% end %> 
       
<%= button_to "Sign Up", "/users/new", method: :get %>
</div>
</div>
</div>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <ul><li style="color: red;font-size: 15px; text-align:left "><%= e %></li></ul>
  <% end %>
<% end %>
<div>
</div>









