<div class="product-container">
<div>
<br/>
<br/>
<br/>
<%=image_tag(@customer.url, :class => "show-image", :alt =>"")%>
</div>
<div style="flex-grow: 0">
    <%=image_tag("customerinfobutton.gif", height: "150px", width: "300px", :alt=>"Customer info button")%>
</p>


<table class="blueTable font">
<tbody>
<tr>
  <td>First Name:</td><td> <%=@customer.first_name%></td></tr>
<tr>
  <td>Last Name:</td><td> <%=@customer.last_name%></td></tr>
<tr>
  <td>Address:</td><td><%=@customer.address%>, <%=@customer.city%>, <%=@customer.state%> </td></tr>
<tr>
  <td>Phone:</td><td><%=@customer.phone%></td></tr>
<tr>
  <td>Email:</td><td><%=@customer.email%></td></tr>
<tr>
<td>
</td>
  <td>
  <%=form_with model: @customer, method: :delete do |f|%>
  <%=f.submit "Delete Customer"%>
  <%end%>
  </td>
</tbody>
</tr>
</table>
</div>

<div>
<br/>
<br/>
<br/>

<div>
<br/>
<div class="box">
	<a href="#popup1">Edit Info</a>
</div>

<div id="popup1" class="overlay">
	<div class="popup">
		<%=image_tag("customerinfobutton.gif", height: "150px", width: "300px", :alt => "customers button") %> 
		<a class="close" href="#">&times;</a>
		<div class="content">
<%= form_tag customer_path(@customer), method: "patch" do %>
  <%= render 'form' %>
<% end %>

<p>
<div class="box">
	<a href="#popup1">REPORTS</a>
</div>
<p>
<div class="box">
	<a href="#popup1">ORDERS</a>
</div>
<p>
<div class="box">
	<a href="#popup1">PRODUCTS</a>
</div>
</div>
</div>