<%if flash[:errors]%>
    <%flash[:errors].each do |e|%>
        <%=e%>
    <%end%>
<%end%>
<p>

<%=form_with model: @order do |f|%>

    <%=f.hidden_field :user_id, :value => session[:id]%>

    Choose Customer: 
    <br>
        <%=f.collection_select :customer_id, @user.customers, :id, :first_name%>
    <br>
    PRODUCTS:
    <br> 
    <div class="form-check">
    <%=f.collection_check_boxes :product_ids, @products, :id, :name, class: 'form-check-input' %>
    </div>
    <p>
    Due Date: 
    <br>
    <%=f.text_field :duedate%>
    <br>
    Paid: 
    <br>
    <%=f.text_field :paid%>
    <br>
<%=f.submit%>
<%end%>