<div class="container">
<div style="flex-grow: 3">
</div>
<div style="flex-grow: 1">
    <%=image_tag("ordersbutton.gif", height: "150px", width: "300px", :alt => "orders button") %> 
<p> 
    <%@user.orders.each do |order|%>
        <%if order.products.empty?%>
            <%=""%>
        <%else%>
            <%=link_to order.id, order_path(order), class: 'link'%>
            <br>
        <%end%>
    <%end%>
<p>
</div>
<div style="flex: 5 5 600px">
<div class="image_center_pic">
 <%=image_tag("ordernew.gif", height: "150px", width: "300px", :alt=>"New Order button")%>
</div>
</p>

<p class="font">
<%=form_with model: @order, method: :post do |f|%>

    <%=f.hidden_field :user_id, :value => session[:id]%>

    Choose Customer: 
    <br>
        <%=f.collection_select :customer_id, @user.customers.uniq, :id, :first_name, {:prompt => "Select Customer"}%>
    <br>
    PRODUCTS:
    <br> 
    <div class="form-check">
    <%=f.collection_check_boxes :product_ids, @products, :id, :name, class: 'form-check-input' %>
    </div>
    <p>
    Due Date: 
    <br>
    <%=f.text_field :duedate%>
    <br>
    Paid: 
    <br>
    <%=f.text_field :paid%>
    <br>
<%=f.submit "NEW ORDER"%>
<%end%>
<p>
<%if flash[:errors]%>
    <%flash[:errors].each do |e|%>
        <%=e%>
        <br>
    <%end%>
<%end%>
</div>
</div>
