<!DOCTYPE html>
<html>
  <head>
    <title>Revit App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <header>
    <br/>
    <br/>
    <div class="flex-container">
    <div>
        <a href="/home">
           <%= image_tag("rivetlogo.png", size:"90x85", :class=> "logo", :alt => "rivet logo")%> 
        </a>
    </div>
    <div> 
        <a href="/home">
          <%= image_tag("home.png", size: "30x15", :alt => "rss feed") %> 
        <p>
         HOME</a>
    </div>
    <div>
        <a href="/customers">
          <%= image_tag("customers.png", size: "30x15", :alt => "rss feed") %> 
        <p>
          CUSTOMERS</a>
    </div>
    <div>
      <a href="/products">
          <%= image_tag("products.png", size: "30x15", :alt => "rss feed") %> 
        <p>PRODUCTS</a>
    </div>
    <div>
        <a href="/orders">
          <%= image_tag("order.png", size: "30x15", :alt => "rss feed") %> 
        <p>
          ORDERS</a>
    </div>
    <div>
        <a href="/suppliers">
          <%= image_tag("suppliers.png", size: "30x15", :alt => "rss feed") %> 
        <p>
          SUPPLIERS</a>
    </div>
    <div>
        <a href="/bookkeeping">
          <%= image_tag("bookkeeping.png", size: "30x15", :alt => "rss feed") %> 
        <p>
          BOOKKEEPING</a>
     </div>
      <div>
      <a href="/account">
          <%= image_tag("account.png", size: "30x15", :alt => "rss feed") %> 
        <p>
          ACCOUNT</a>
     
      </div>
    </div>
  </header>
  <div  class="main">
    <%= yield %>
  </div>

</html>
